body {
  background-color: #343a40;
  font-family: Arial, Helvetica, sans-serif;
  color: white; /*rgb(180, 180, 180)*/
}

p {
  text-align: justify;
  text-justify: inter-word; /* ensures space is added between words, not letters */
}

.no-justify p {
  text-align: center;
}

.hide {
  transition: 0.5s ease-in-out;
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.red-letters {
  color: rgb(232, 96, 96) !important;
}

.black-background {
  background-color: #343a40;
  color: white;
}

hr {
  background-color: rgb(232, 96, 96);
}

.hero-section {
  background: url("./assets/Mossop1-1080x720.jpg") center no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Apply border-radius */
  border-radius: 5px;

  /* Clip background to border-radius */
  overflow: hidden;
}

.hero-section .hero-section-text {
  color: #ffffff; /* White text */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 10px; /* Adds spacing around the text */
  display: inline-block; /* Ensures the background wraps the text */
  border-radius: 5px; /* Optional: rounds the corners */
}

#column-image1 {
  border-radius: 10px;
}

#about-page .container-fluid {
  position: relative; /* To contain the absolute positioning of the heading */
}

#about-page .image-container {
  position: relative;
}

#about-page img {
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove any extra space around the image */
  border-radius: 5px;
}

#about-page .heading-over-image {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Offset the element by half its size to truly center it */
  color: white; /* Make text white for contrast */
  font-size: 3rem; /* Adjust the heading size */
  font-weight: bold;
  z-index: 1; /* Ensure the heading is above the image */
}
